@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Cutive+Mono&family=Lato:wght@400;700&family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');


:root {

  /* colors */
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #9b59b6;
  --brand-orange: #f8961e;
  --brand-blue: #577590;
  --body-background: #e79648;

  --company-color-1: #395469;
  --company-color-2: #e79648;



  /* typography */
  --font-one: "Poppins", Montserrat;
  --font-h1: "Barrio";

  --card-body-font: "Cutive Mono";

  /* shadows */
  --generic-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

body {
  background-color: var(--company-color-2);
  margin: 0;
  padding: 0 1rem;
  cursor: url("https://clipart-library.com/images/gTe5G8KLc.png"), auto;
}